<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
a {font-size: 12pt;}
li {background: black;}

</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
<body background="https://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png">
  
  
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>

    <h4><b>MENU</b></h4>
  </div>
  <div class="w3-bar-block">
    
  	

  	        <ul class="w3-bar-item w3-button w3-padding  w3-text-teal">
  	          
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li><br>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path, method: 'get' %></li><br><br>
            <li><%= link_to 'Sign up', new_user_registration_path, method: 'get' %></li><br>
          <% end %>
        </ul>

  </div>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:500px; margin-right:470px">

  <!-- Header -->
  <header id="portfolio">

    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Posts</b></h1>
    <div class="w3-section w3-bottombar w3-padding-100">

    </div>
    </div>
  </header>
  


<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>

<div class="container">
    <div class="row">
        <div class="col s1200 m800">
            <% @shows.each do |post| %>
                <div class="card">
                <div class="card-content">
                    <% if post.user.profile %>
                    <img class="circle thumbnail" src="<%= post.user.profile.thumb.url %>"
                    <% end %>
                      <span class="card-title"><%= post.user.name %></span>
                      <span><%= post.created_at %></span>
                   <div class="card-image">
                     <% if post.image.url %>
                       <img src="<%= post.image.url %>">
                     <% end %>
                   </div>
                   <p class="pre-line"><%= post.content %></p>
                </div>
            
                <div class="card-action">
                    <% if post.comments.present? %>
                      <ul class="collection">
                      <% post.comments.each do |comment| %>
                        <li class="collection-item">
                          <span class="title"><%= comment.user.name %></span>
                          <span class="right"><%= comment.created_at %></span>
                          <p class="pre-line"><%= comment.content %></p>
                        </li>
                      <% end %>
                      </ul>
                    <% end %>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</div> 