<!DOCTYPE html>
<html>
  <head>
    <title>S/E_Project_SNS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
   <body background="https://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png">
  
    <ul class="sidenav" id="mobile-demo">
          <li><a href="/posts">Post</a></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
            <li><%= link_to 'Edit', edit_user_registration_path, method: 'get' %></li>
            <li><a href="/mypage">Mypage</a></li>
          <% else %>
            <li><a href="/users/sign_in">Sign in</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
          <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
